.chat-message-user {
	display: flex;
	justify-content: end;
	align-items: start;
}
.chat-message-text {
	background-color: #eeeeee;
	padding: 15px 20px;
	border-radius: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	max-width: 300px;
}
.chat-message-time {
	color: grey;
	font-size: 14px;
	margin-top: 3px;
}
.chat-message-robot {
	display: flex;
	align-items: start;
}
.chat-message-profile {
	width: 45px;
	cursor: pointer;
}
.chat-user-profile {
	height: 45px;
	border-radius: 45px;
	object-fit: cover;
}
