.send-button,
.clear-button {
	background-color: #198754;
	color: white;
	padding: 12px 20px;
	margin-left: 10px;
	border: none;
	border-radius: 10px;
	font-size: 15px;
	cursor: pointer;
}

.clear-button {
	background-color: #e5e5e5;
	color: black;
}

.chat-input-container {
	display: flex;
	margin-bottom: 60px;
}
.chat-input {
	padding: 12px 15px;
	border-radius: 10px;
	border-width: 1px;
	font-size: 15px;

	flex-grow: 1;
}
.loading-image {
	height: 40px;
	margin: -15px;
}
